/*Centers all forms to the center of their parent page*/
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

/*make chat conversation scrollabe*/
#chat-conversation, #users-list {
    overflow: scroll;
    height: 400px;
}
/*Makes all buttons the same size* in login.html */
.custom {
    width: 70px !important;
}

#login-submit {
    margin: 0 auto;
    float: left;
    alignment: left;
}

#guest-submit {
    margin-left: 14%;
}

#register-button {
    margin: 0 auto;
    alignment: right;
    float: right;

}

/*Designing the Chat Area*/

body {
    margin: 0 auto;
    width: 80%;
    height: 50%;

}

p {
    font-size: 60%;
}

ul#nav li {
    display: inline;

}

/* Login Redirect Button in Register.html*/

#login-redirect {
    margin: 0 auto;
    alignment: right;
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
}